<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhanghu-1.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div role="tabpanel" class="tab-pane  active" id="xiaoxi">
    <h4>系统消息</h4>
    <div class="xiaoxi">
        <div class="xiaoxi-title">
                            <span class="xiaoxi-1">
                                <input type="checkbox"  class="checkAll regular-checkbox">全选
                                <a href="javascript">×删除</a>
                            </span>
            <span class="xiaoxi-2">主题</span>
            <span class="xiaoxi-3">发送时间</span>
            <span class="xiaoxi-4">操作</span>
        </div>
        <div class="xiaoxi1-cont">
                            <span class="xiaoxi1-ipt">
                                <input type="checkbox" id="check1" class="checkAll regular-checkbox">
                            </span>
            <span class="xiaoxi1-zhu"><a href="#">优惠券到期提醒</a></span>
            <span class="xiaoxi1-time">2017-4-18</span>
            <span class="xiaoxi1-delt"><a href="#">删除</a></span>
        </div>

        <div class="xiaoxi1-cont">
                            <span class="xiaoxi1-ipt">
                                <input type="checkbox" id="check1" class="checkAll regular-checkbox">
                            </span>
            <span class="xiaoxi1-zhu"><a href="#">优惠券到期提醒</a></span>
            <span class="xiaoxi1-time">2017-4-18</span>
            <span class="xiaoxi1-delt"><a href="#">删除</a></span>
        </div>
    </div>
</div>


<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/main.js"></script>
<script src="../js/cropbox.js"></script>
</body>
</html>