<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/zhanghu-1.css"/>
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.min.js"></script>
    <![endif]-->
    <title>全部订单</title>
</head>
<body>


            <div role="tabpanel" class="tab-pane" id="home1">
                <div class="zhanghu-dingdan1">
                    <div class="dingdan1-title">
                        <span class="dingdan-1">订单号：</span>
                        <span class="dingdan-2">88888888</span>
                        <span class="dingdan-1">预定日期：</span>
                        <span class="dingdan-4">2017-6-18</span>
                    </div>
                    <div class="dingdan1-cont">
                        <span class="dingdan1-luxian">矮寨大桥日票+德了景区+缆车+过山车</span>
                        <span class="dingdan1-piao">门票</span>
                        <span class="dingdan1-name">小明</span>
                        <span class="dingdan1-time">2017-4-18</span>
                        <span class="dingdan1-Price">¥280</span>
                        <div  class="dingdan1-zhuangtai">
                            <p class="dingdan1-no">待付款</p>
                            <a href="#"  target="_top">订单详情</a>
                        </div>
                    </div>
                </div>

                <div class="zhanghu-dingdan1">
                    <div class="dingdan1-title">
                        <span class="dingdan-1">订单号：</span>
                        <span class="dingdan-2">88888888</span>
                        <span class="dingdan-1">预定日期：</span>
                        <span class="dingdan-4">2017-6-18</span>
                    </div>
                    <div class="dingdan1-cont">
                        <span class="dingdan1-luxian">矮寨大桥日票+德了景区+缆车+过山车</span>
                        <span class="dingdan1-piao">门票</span>
                        <span class="dingdan1-name">小明</span>
                        <span class="dingdan1-time">2017-4-18</span>
                        <span class="dingdan1-Price">¥280</span>
                        <div  class="dingdan1-zhuangtai">
                            <p class="dingdan1-no">待付款</p>
                            <a href="#">订单详情</a>
                        </div>
                    </div>
                </div>
<!--账户订单-->
                <div class="zhanghu-dingdan1">
                    <div class="dingdan1-title">
                        <span class="dingdan-1">订单号：</span>
                        <span class="dingdan-2">88888888</span>
                        <span class="dingdan-1">预定日期：</span>
                        <span class="dingdan-4">2017-6-18</span>
                    </div>
                    <div class="dingdan1-cont">
                        <span class="dingdan1-luxian">矮寨大桥日票+德了景区+缆车+过山车</span>
                        <span class="dingdan1-piao">门票</span>
                        <span class="dingdan1-name">小明</span>
                        <span class="dingdan1-time">2017-4-18</span>
                        <span class="dingdan1-Price">¥280</span>
                        <div  class="dingdan1-zhuangtai">
                            <p class="dingdan1-no">待付款</p>
                            <a href="#">订单详情</a>
                        </div>
                    </div>
                </div>
                <nav aria-label="...">
                    <ul class="pager">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </nav>

            </div>




<script src="../lib/jquery/jquery.js"></script>
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<script src="../js/main.js"></script>
<script src="../js/cropbox.js"></script>
</body>
</html>